* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(240, 242, 249, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    position: relative;
    overflow-x: hidden;
    font-family: "Times New Roman", Times, serif;
}

.balk {
    width: 150%;
    height: 100px;
    background-color: rgba(198, 240, 216, 0.6);
    display: block;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
}

.lijn {
    width: 100%;
    height: 8px;
    background-color: rgba(0, 128, 255, 0.5);
}

/***NAVIGATIE BAR***/

header {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
}

nav {
    display: flex;
    padding-bottom: 0;
    height: 70px;
    align-items: center; 
    position: fixed;
    width: 100%;
    top: 0%;
    transition: background 0.4s ease-out;
    box-sizing: border-box;
    z-index: 1;
    background: rgba(180, 167, 226, 0.7);
  }

.navi_scroll {
    background: rgba(180, 167, 226, 1);
    box-shadow: 0px 4px 7px #777;
}

.navi_lijst {
    display: flex;
    margin-right: 30px;
    list-style-type: none;
    overflow: hidden;
    height: 70px;
}

.navi_lijst li {
    padding-top: 25px;
    color: rgba(0, 0, 0, 0.7);
}

.navi_links {
    margin-left: 20px;
    margin-right: 20px;
    height: 70px;
}

.navi_lijst li:hover {
    background-color: rgba(0, 128, 255, 0.3);
    cursor: pointer;
}

.navi_lijst li.active {
    background-color: rgba(198, 240, 216, 0.6);
	font-weight: bold;
}

/***LOGO***/

.logo_container {
    height: 25em;
    width: 100%;
    background-image: url(Afbeeldingen/DSC02786.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 40% 45%;
    position: relative;
}

.logo {
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 24px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.15em;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}


/***TEKST***/

.tekst {
    margin-top: 36px;
    padding: 16px;
    font-size: 20px;
    width: 60%;
    left: 20%;
    position: relative;
    color: rgba(0, 0, 0, 0.8); 
}

.titel {
    font-size: 32px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 3px;
    border-bottom: 2px solid;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}

.beschrijving {
    margin: 0 0 2em 0;
    letter-spacing: 0.0625em;
    line-height: 1.6;
}

#home {
    transition: opacity 2s ease;
}

#opdracht_1 {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 2s ease;
}

#opdracht_2 {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 2s ease;
}

#opdracht_3 {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 2s ease;
}

#opdracht_4 {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 2s ease;
}

#contact {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 2s ease;
}

/***AFBEELDING***/

.afbeelding {
    float: left;
    position: relative;
    border: 1px solid;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
    margin: 1em 2em;
}

#afbeelding_2 {
    float: none;
    left: 16%;
}

/***CONTACT***/

input, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 2px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}

.verstuur {
    text-align: center;
    width: 30%;
    margin: 0 35% 0 35%;
    border-radius: 2px;
    padding: 12px 20px;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgba(0, 128, 255, 0.3);
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-weight: 550;
}

.pop-up {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 0;
    background-color: rgba(40, 255, 40, 1);
    transition: 1s;
    text-align: center;
    display: block;
    left: 0%;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-weight: bold;
}

/***LINK***/

.link:link {
    color: rgba(0, 128, 255, 0.7);
    text-decoration: none;
}

.link:visited {
    color: rgba(0, 128, 255, 0.7);
    text-decoration: none;
}

.link:hover {
    color: rgba(0, 255, 0, 0.8);
    text-decoration: underline;
}

/***FOOTER***/

footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    height: 80px;
    font-size: 16px;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}
