/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************
        ALGEMEEN
****************************/

* {
    margin: 0;
    padding: 0; 
}

body, html {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 100%;
    font-weight: 400;
    overflow-y: hidden;
    overflow-x: hidden;
}

.achtergrond {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: background-image 2s ease;
    transition: background-image 2s ease;
}

button, button:active {
    border: none;
    position: absolute;
    background: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

button:disabled {
    color: #000;
}

img {
    display: none;
}

/***************************
        STARTSCHERM
****************************/

.titel_label {
    font-size: 55px;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    letter-spacing: 1.5px;
    margin-top: 2%;
    margin-left: 4%;
}

#achtergrond_0 {
    background-image: url(Afbeeldingen/achtergrond_0.png);
}

.start_btn {
    font-size: 48px;
    margin-top: 37%;
    margin-left: 69%;
    font-weight: bolder;
    border-bottom: 2px solid;
}

/***************************
        ZWART SCHERM
****************************/

#zwart_scherm {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 3s;
    -webkit-transition: all 3s; 
}

.zwart_scherm_tekst {
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: all 3s;
    -webkit-transition: all 3s; 
    padding: 4px;
    letter-spacing: 1px;
}

/***************************
        TEKST SCHERM
****************************/

.tekst_blok {
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    height: 20%;
    width: 70%;
    top: 77%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 5px;
    border: 2px rgba(0, 0, 0, 0.85) solid;
    display: none;
    letter-spacing: 0.0625em;
    line-height: 1.15;
    z-index: 1;
}

.midden_tekst {
    font-size: 19px;
    text-align: left;
    padding: 3px;
    font-family: "Times New Roman", Times, serif;
}

/***************************
   VERDER EN TERUG KNOPPEN
****************************/

.verder_terug_container {
    height: 100%;
    width: 100%;
    display: none;
}

.verder_terug_btn {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 10%;
    z-index: 2;
}

#verder_btn {
    right: 0%;
}

.verder_terug_btn i {
    font-size: 36px;
}

/***************************
           HORLOGE
****************************/

.horloge {
    background-image: url(Afbeeldingen/horloge_1.png);
    height: 60%;
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 35%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/***************************
           OGEN
****************************/

.ooglid {
    height: 50%;
    width: 100%;
    position: relative;
    transition: all 3s ease;
    -webkit-transition: all 3s ease; 
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

#ooglid_boven {
    top: -100%;
}

#ooglid_onder {
    bottom: -100%;
}

/***************************
           MOBIEL
****************************/

.mobiel {
    background-image: url(Afbeeldingen/mobiel.png);
    height: 60%;
    width: 18%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 35%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.google {
    background-image: url(Afbeeldingen/google.png);
    height: 50%;
    width: 66.5%;
    background-position: 49.8% -200%;
    background-repeat: no-repeat;
    background-size: 350%;
    position: absolute;
    left: 48.4%;
    top: 45%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

.bericht {
    background-image: url(Afbeeldingen/bericht.PNG);
    height: 15%;
    width: 13%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 49.7%;
    top: 30%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s ease;
    -webkit-transition: all 2s ease; 
    display: none;
    z-index: 2;
}

/***************************
        KEUZE MENU
****************************/

#emotie {
    display: none;
}

.keuze {
    position: absolute;
    height: 15%;
    width: 60%;
    left: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 5px;
    border: 2px rgba(255, 255, 255, 0.85) solid;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
    font-size: 26px;
    text-transform: uppercase;
    line-height: 62px;
}

#keuze_zitten {
    top: 45%;
    background-color: rgba(0, 0, 210, 0.9);
}

#keuze_boos {
    top: 15%;
    background-color: rgba(210, 0, 0, 0.9);
}

/***************************
        KEUZE ZITTEN
****************************/

.donkere_toon {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 10s ease-in;
    -webkit-transition: all 10s ease-in; 
}

/***************************
        KEUZE KRANT
****************************/

#krant {
    display: none;
}

.krant_afb {
    background-repeat: no-repeat;
    background-size: cover;
    height: 135%;
    width: 55%;
    position: absolute;
    left: 22.5%;
    top: -30%;
}

#nieuws_bericht{
    background-image: url(Afbeeldingen/krant.png);
    display: none;
}

#weerbericht {
    background-image: url(Afbeeldingen/krant_weer.png);
    display: none;
}

#keuze_nieuws {
    top: 15%;
    background-color: rgba(0, 210, 0, 0.9);
    font-size: 22px;
}

#keuze_weerbericht {
    top: 45%;
    background-color: rgba(210, 210, 0, 0.9);
    font-size: 22px;
}

/***************************
    TWEEDE ZWART SCHERM
****************************/

.tweede_zwart_scherm {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
}

.nieuws {
    transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.pauze {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    position: absolute;
    border-radius: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.pauze i {
    font-size: 128px;
    color: rgba(255, 255, 255, 0.6);
}

/***************************
        FLIP SCHERM
****************************/

.flip {
    height: 100%;
    width: 100%;
    background-color: rgba(96, 96, 96, 0.95);
    position: absolute;
    display: none;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.draaipls {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: inherit;
    font-size: 32px;
    width: 90%;
    text-align: center;
}

.draaischerm i {
    font-size: 192px;
}

#pijl i {
    font-size: 80px;
    transform: rotate(45deg);
    margin-left: 40%;
    margin-top: -10%;
    width: 100%;
    height: auto;
}

#pijl {
    opacity: 0.35;
}

#scherm1 {
    margin-top: 45%;
    margin-left: 5%;
    opacity: 0.35;
}

#scherm2 {
    margin-left: 36%;
    margin-top: -32%;
    opacity: 0.35;
}


/***************************
  VOEG TOE AAN BEGINSCHERM
****************************/

.container_voeg_toe {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 5;
    display: none;
}

.voeg_toe {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    font-size: 19px;
    width: 90%;
    text-align: center;
}

#voeg_toe1 {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

#column1 {
    border-bottom: 1px solid;
    padding-bottom: 2%;
    padding-top: 2%;
    top: 18%;
}

#column2 {
    top: 20%;
}

#icon_google{
    font-size: 36px;
}

.icoon {
    height: 36px;
    width: auto;
    display: inline;
}

#tekst_icoon {
    height: 50px;
}

.OK {
    font-size: 19px;
    top 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 40%;
    padding: 4px;
    border: 2px solid #000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgb(0, 255, 0);
    margin-top: 3%;
}

.schuif_container {
    padding-left: 9%;
}

/*portrait modus*/
@media (min-height: 415px) {
    .voeg_toe {
        top: 10%;
        font-size: 24px;
    }

    #voeg_toe1 {
        font-size: 15px;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    .voeg_toe i {
        padding-left: 5%;
    }

    #column1 {
        padding-bottom: 3%;
        top: 17%;
    }

    #column2 {
        top: 20%;
    }

    #icon_google{
        font-size: 52px;
    }

    .icoon {
        height: 52px;
    }

    #tekst_icoon {
        height: 58px;
    }

    .OK {
        font-size: 24px;
        top: 130%;
        width: 60%;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    }
    
    .schuif_container {
        padding-left: 0;
    }
}

/***************************
        KLEIN SCHERM
****************************/

@media (max-height: 375px) {
    .midden_tekst {
        font-size: 18px;
        padding: 0;
    }
    
    .tekst_blok {
        top: 80%;
        width: 73.5%;
    }
    
    .horloge {
        height: 55%;
        width: 15%;
    }
    
    .mobiel {
        height: 58%;
    }
    
    .google {
        height: 46%;
        width: 62%;
    }
    
    .bericht {
        height: 14.5%;
        width: 12.5%;
    }
    
    .keuze {
        height: auto;
    }
    
    #scherm1 {
        margin-left: -4%;
    }
    
    #scherm2 {
        margin-left: 34%;
    }
    
    #keuze_nieuws {
        font-size: 18px;
    }

    #keuze_weerbericht {
        font-size: 18px;
    }
    
}


