/*********************
        ALGEMEEN
**********************/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
    box-sizing: border-box;
}

main {
    background: #3f51b5;
    background: -moz-linear-gradient(left, #3f51b5 0%, #757de8 30%, #757de8 70%, #3f51b5 100%);
    background: -webkit-linear-gradient(left, #3f51b5 0%, #757de8 30%, #757de8 70%, #3f51b5 100%);
    background: linear-gradient(to right, #3f51b5 0%, #757de8 30%, #757de8 70%, #3f51b5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f51b5', endColorstr='#3f51b5', GradientType=1);
    color: #fafafa;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Arial;
    letter-spacing: 0.08em;
}

button {
    width: 90%;
    margin: 0 auto;
    background-color: #002984;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: #fafafa;
    letter-spacing: 0.08em;
    padding: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1px;
    outline: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1),
        0px 8px 5px rgba(0, 0, 0, 0.05);
}

button:hover {
    background-color: #3f51b5;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

button:active {
    text-decoration: underline;
    border-width: 5px;
    border-color: #fafafa;
}

h1 {
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    font-family: Tahoma;
    font-size: 84px;
    margin: 0;
    letter-spacing: 5px;
}

h2 {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
    margin: 0;
    font-family: Tahoma;
}

h3 {
    color: #3f51b5;
    font-size: 32px;
    font-family: Tahoma;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4 {
    color: #000;
    margin: 0;
    padding: 0.75em 0;
    font-size: 18px;
    cursor: pointer;
}

p {
    color: #000;
    margin: 0;
    padding: 0.5em 0;
    font-size: 14px;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

hr {
    margin-bottom: 2em;
    margin-top: 2em;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*********************
    LANDING PAGE
**********************/

.landing_page {
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.button_container {
    width: 60%;
    display: inline-block;
}

.telefoon_knop {
    background-color: rgba(26, 35, 126, 0.5);
    margin-top: 10%;
    padding: 18px;
    border-radius: 1px;
    border-style: solid;
    border-color: #fafafa;
    border-width: 1.5px;
    text-align: center;
}

.telefoon_svg {
    cursor: pointer;
    margin: 5px;
}

.city_png {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0%;
    background-position: right;
}

/*********************
PAGINA HEADER ELEMENTEN
**********************/

.achtergrond {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    background: -moz-linear-gradient(left, #f2f2f2 0%, #f8f8f8 25%, #fafafa 50%, #f8f8f8 75%, #f2f2f2 100%);
    background: -webkit-linear-gradient(left, #f2f2f2 0%, #f8f8f8 25%, #fafafa 50%, #f8f8f8 75%, #f2f2f2 100%);
    background: linear-gradient(to right, #f2f2f2 0%, #f8f8f8 25%, #fafafa 50%, #f8f8f8 75%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#f2f2f2', GradientType=1);
    display: none;
    position: fixed;
}

.de_pagina {
    width: 100%;
    display: none;
    position: absolute;
}

.logo {
    font-size: 32px;
    cursor: pointer;
    text-shadow: 0 1px 0 #ccc,
        0 1px 0 #c9c9c9,
        0 1.5px 0 #bbb,
        0 2px 0 #b9b9b9,
        0 2.5px 0 #aaa,
        0 3px 0.5px rgba(0, 0, 0, .1),
        0 0 2.5px rgba(0, 0, 0, .1),
        0 0.5px 1.5px rgba(0, 0, 0, .3),
        0 1.5px 2.5px rgba(0, 0, 0, .2),
        0 2.5px 5px rgba(0, 0, 0, .25),
        0 5px 5px rgba(0, 0, 0, .2),
        0 10px 10px rgba(0, 0, 0, .15);
    font-family: Tahoma;
    letter-spacing: 5px;
    margin-left: 20%;
    margin-top: -80%;
}

.achtergrond_logo {
    background-color: #002984;
    padding-top: 1em;
    padding-bottom: 1em;
}

.breadcrumbs {
    display: flex;
    color: #3f51b5;
    margin-left: 20%;
    font-family: Tahoma;
}

.achtergrond_breadcrumbs {
    background-color: #fafafa;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #757de8;
    box-shadow: 0 2px 5px #ccc;
}

.breadcrumbs section {
    padding-left: 1em;
}

.breadcrumbs section.active {
    color: #000;
    font-weight: bolder;
}

.kliksectie {
    cursor: pointer;
    color: #444;
    font-weight: normal;
}

.kliksectie:hover {
    text-decoration: underline;
}

.slash {
    color: #666;
}

.index-tekst {
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.progress-bar {
    color: #000;
    position: relative;
    left: 20%;
    display: none;
    /* voor goede vorm zet display op flex */
    width: 60%;
}

.progress-bar a {
    padding: 15px 2em;
    font-size: 0.875em;
    list-style-type: none;
    text-align: center;
    display: block;
    border-bottom: 1px solid;
    margin-top: 1.5px;
    padding-top: 16.5px;
    text-decoration: none;
    border-color: #c7c7c7;
    cursor: pointer;
    width: 20%;
    transition: border-color .3s ease, color .3s ease;
    letter-spacing: 0.04em;
}

.progress-bar a:hover {
    margin-top: 0;
    padding-top: 15px;
    border-bottom: 4px solid;
    border-color: #939393;
}

.progress-bar a.active {
    cursor: default;
    border-bottom: 4px solid;
    border-color: #3f51b5;
    font-weight: 500;
    margin-top: 0;
    padding-top: 15px;
}

.progress-bar a.notActive {
    color: #c7c7c7;
    cursor: default;
    pointer-events: none;
}

.progress-bar a.notActive:hover {
    margin-top: 1.5px;
    padding-top: 16.5px;
    border-top: 1px solid;
    border-color: #c7c7c7;
}

.grote-letters {
    display: inline-block;
}

.kleine-letters {
    display: none;
}

/*********************
    TELEFOON PAGE
**********************/

.telefoons_page {
    width: 60%;
    left: 20%;
    position: absolute;
    display: none;
    margin-bottom: 2em;
}

.telefoon_grid-container {
    display: grid;
    width: 100%;
    grid-gap: 3em;
    grid-template-columns: auto auto auto;
    color: #000;
}

.telefoon-item {
    text-align: center;
}

.rondje {
    height: 15px;
    width: 15px;
    background-color: #fafafa;
    border: 1px solid #c7c7c7;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
}

span.active {
    background-color: #757de8;
}

#voorraad {
    background-color: #64dd17;
    margin-left: 0;
    height: 10px;
    width: 10px;
}

.telefoon-button:active {
    text-decoration: none;
    border-width: 0;
}

.telefoon-img {
    cursor: pointer;
}

.prijs-kaart {
    position: absolute;
    padding: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-left: 40px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: -50px;
    background-color: rgba(117, 125, 232, 0.9);
    border-radius: 1px;
}

#before,
#next {
    font-size: 36px;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.slideFoto {
    padding-top: 0;
}

.animatie {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.2
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.2
    }

    to {
        opacity: 1
    }
}

/*********************
    ABONNEMENT PAGE
**********************/

.abonnement_page {
    width: 60%;
    left: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
    position: absolute;
    display: none;
}

.info {
    width: 60%;
    float: right;
    background-color: #fff;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 2em;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.abonnement {
    width: 100%;
}

.naam-telefoon {
    color: black;
    font-size: 32px;
}

.abonnement_img {
    width: 20%;
    margin-left: 2em;
}

.abonnement_keuze:focus {
    background-image: url(Afbeeldingen/baseline_arrow_drop_up_black_24dp.png);
    background-repeat: no-repeat;
    background-position: right;
    outline: none;
    border-color: #002984;
    border-width: medium;
}

.abonnement_keuze option {
    background-color: rgba(117, 125, 232, 0.2);
}

.keuze-btn {
    background-color: transparent;
    color: #000;
    border: thin solid #3f51b5;
    border-radius: 1px;
    line-height: 1.5em;
    padding: 1em 0.5em 1em 0.5em;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-image: url(Afbeeldingen/baseline_arrow_drop_down_black_24dp.png);
    background-repeat: no-repeat;
    background-position: right;
}

.focus {
    background-color: rgba(144, 255, 118, 0.8);
    background-image: url(Afbeeldingen/baseline_arrow_drop_up_black_24dp.png);
    background-repeat: no-repeat;
    background-position: right;
    outline: none;
    border-color: #002984;
}

.abonnement_keuze {
    position: relative;
    display: inline-block;
    width: 100%;
}

.keuze-opties {
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(175, 180, 255, 1);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

.keuze-opties a {
    color: #000;
    padding: 1em 0.5em 1em 0.5em;
    text-decoration: none;
    display: block;
    text-align: left;
}

.abonnement_keuze a:hover {
    background-color: #fafafa;
}

.show {
    display: block;
}

.dikgedrukt {
    width: 15%;
    float: left;
    color: #000;
    text-align: right;
    font-weight: bold;
}

#prijs.dikgedrukt {
    float: right;
    text-align: left;
}

.keuze-tekst {
    width: 30%;
    float: left;
    color: #000;
}

#belminuten.keuze-tekst {
    text-align: right;
}

.deKosten {
    color: #000;
}

.totaal_kosten {
    line-height: 64px;
}

.totaal_kosten .prijsTotaal {
    font-size: 28px;
    width: 30%;
    text-align: right;
    float: right;
    font-weight: bold;
}

.kosten_maand {
    line-height: 24px;
}

.kosten_maand .prijs {
    width: 30%;
    text-align: right;
    float: right;
    font-weight: bold;
}

#eenmalig {
    margin-top: 2em;
}

.kosten_maand1 {
    float: left;
    width: 70%;
}

.volgende-knop {
    width: 42%;
    display: block;
    padding-left: 0;
    padding-right: 0;
    float: right;
}

#volgende-knop1 {
    width: 90%;
    margin: 0 auto;
    float: none;
}

/*********************
    GEGEVENS PAGE
**********************/

.gegevens_page {
    display: none;
    width: 60%;
    left: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
    position: absolute;
}

.gegevens_page .info {
    width: 70%;
    display: block;
    margin: 0 auto;
    float: none;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

form {
    color: #000;
}

.soort-gegevens {
    cursor: default;
    font-size: 22px;
}

.gegevens_container {
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 2em;
}

form input {
    padding: 0.5em;
    font-family: Arial;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: 1px solid #222;
}

.form-tekst {
    float: left;
    width: 42%;
    padding-top: 2px;
}

input[type=number] {
    width: 80px;
}

/* De Radio input is verstopt achter de labels zodat je deze niet ziet, maar dat de waarschuwing dat je hem moet invullen wel tevoorschijn komt */
input[type=radio] {
    opacity: 0;
    position: absolute;
    z-index: -1;
    margin-top: 25px;
}

.radio_label {
    cursor: pointer;
    display: inline-block;
    padding: 5px 12px;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

input[type=radio]:checked + .radio_label {
    background-color: #757de8;
    font-weight: bold;
}

.radio_container {
    border-radius: 1px;
    border: solid 2px #757de8;
    display: inline-block;
    margin-left: 0.35em;
}

#vorige-knop {
    background-color: #666;
    display: inline;
    float: none;
}

#vorige-knop:hover {
    background-color: #888;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

/*********************
   NUMMERBEHOUD PAGE
**********************/

.nummerbehoud_page {
    display: none;
    width: 60%;
    left: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
    position: absolute;
}

.nummerbehoud_page .info {
    width: 70%;
    display: block;
    margin: 0 auto;
    float: none;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

#huidig-nummer {
    display: none;
}

#radio_nummerbehoud_container {
    margin-left: 2em;
}

input[type=tel] {
    margin-left: 2.35em;
}

/*********************
    OVERZICHT PAGE
**********************/

.overzicht_page {
    display: none;
    width: 60%;
    left: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
    position: absolute;
}

.overzicht_page .info {
    width: 70%;
    display: block;
    margin: 0 auto;
    float: none;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

#overzicht_container {
    pointer-events: none;
    cursor: default;
}

/*********************
   MOBIEL GEBRUIKER
**********************/

@media (max-width: 1000px) {
    main {
        width: 100%;
        letter-spacing: 0.05em;
    }

    .landing_page {
        width: 60%;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .logo {
        margin: 2.5%;
        font-size: 22px;
    }

    .telefoon_knop {
        margin-top: 20%;
    }

    button {
        font-size: 16px;
        width: 90%;
        letter-spacing: 0.05em;
    }

    .button_container {
        width: 80%;
    }

    .telefoons_page {
        left: 2.5%;
        width: 95%;
    }

    .breadcrumbs {
        margin-left: 2.5%;
        font-size: 10px;
    }

    .index-tekst {
        margin-left: 2.5%;
    }

    hr {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    .telefoon_grid-container {
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        grid-row-gap: 2em;
    }

    .progress-bar {
        width: 95%;
        left: 2.5%;
    }

    .progress-bar a {
        padding: 10px 0.5em;
        font-size: 10px;
        width: 23%;
    }

    .progress-bar a.active {
        padding-top: 10px;
    }

    .grote-letters {
        display: none;
    }

    .kleine-letters {
        display: inline-block;
    }

    .abonnement_page {
        left: 2.5%;
        width: 95%;
    }

    .info {
        width: 95%;
        float: none;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        padding: 0.5em;
    }

    .naam-telefoon {
        font-size: 14px;
    }

    .totaal_kosten {
        line-height: 16px;
    }

    #eenmalig {
        margin-top: 4em;
    }

    .keuze-btn {
        font-size: 10px;
        padding: 1em 0.5em 1.5em 0.5em;
        background-position: bottom;
    }

    .keuze-opties {
        font-size: 10px;
    }

    #belminuten {
        margin-left: 4px;
        width: 35%;
    }

    .abonnement_img {
        width: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .deKosten {
        font-size: 11px;
    }

    .totaal_kosten .prijsTotaal {
        font-size: 12px;
    }

    .volgende-knop {
        font-size: 14px;
    }

    .gegevens_page {
        left: 2.5%;
        width: 95%;
    }

    .gegevens_page .info {
        width: 94%;
    }

    .form-tekst {
        width: 100%;
    }

    .dikgedrukt {
        width: 15.2%;
    }

    .moetKleiner {
        width: 80%;
    }

    .nummerbehoud_page {
        left: 2.5%;
        width: 95%;
    }

    .nummerbehoud_page .info {
        width: 94%;
    }

    .overzicht_page {
        left: 2.5%;
        width: 95%;
    }

    .overzicht_page .info {
        width: 94%;
    }
}
